html, body{
	background-color: grey;
}
#box1{
	width:200px;
	height:200px;
}

.box{
	position:absolute;
	border:solid black 1px;
}

.square{
	position:relative;
	background-color:blue;
	width:10px;
	height:10px;
	top:0;
	left:0;
}

